################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TodoWebApp/FileContentIndex
/TodosApi/Database/todo.db-shm
/TodosApi/Database/todo.db-wal
/.vs/TodoWebApp/v17/TestStore/0/011.testlog
.vs/TodoWebApp/v17/TestStore/0/testlog.manifest
