################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TodoWebApp/FileContentIndex
.vs/TodoWebApp/v17/TestStore/0/testlog.manifest
